[Unit]
Description=RetroArch standalone (X11)
After=remote-fs.target systemd-user-sessions.service network-online.target nss-lookup.target sound.target bluetooth.target polkit.service upower.service mysqld.service lircd.service
Wants=network-online.target polkit.service upower.service
Conflicts=getty@tty1.service

[Service]
User=retroarch
Group=retroarch
EnvironmentFile=-/etc/conf.d/retroarch-standalone
PAMName=login
TTYPath=/dev/tty1
ExecStart=/usr/bin/xinit /usr/bin/retroarch -- :0 -quiet -nolisten tcp vt1
ExecStop=/usr/bin/killall --user retroarch --exact --wait retroarch
Restart=on-abort
StandardInput=tty
StandardOutput=journal

[Install]
Alias=display-manager.service
